@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed");
*,
*::before,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-size: 0.8125rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 2rem 0;
}

.grid-4-columns {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .grid {
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .grid-4-columns {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .grid-4-columns {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.card {
  border-radius: 10px;
  padding: 1.5rem 2rem 2rem;
  -webkit-box-shadow: 10px 14px 30px -20px rgba(0, 0, 0, 0.78);
          box-shadow: 10px 14px 30px -20px rgba(0, 0, 0, 0.78);
  -webkit-transition: -webkit-box-shadow 0.25s ease;
  transition: -webkit-box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
}

.card:hover {
  -webkit-box-shadow: 10px 14px 0 -20px rgba(0, 0, 0, 0.78);
          box-shadow: 10px 14px 0 -20px rgba(0, 0, 0, 0.78);
}

.card > *:not(:last-child) {
  margin-bottom: 0.75rem;
}

.card__primary {
  background-color: #7541c8;
}

.card__primary .testimonial__grid__item--name {
  color: #ecf2f8;
}

.card__primary .testimonial__grid__item--status {
  color: #cfcfcf;
}

.card__primary .testimonial__grid__item--primary__text {
  color: #ecf2f8;
}

.card__primary .testimonial__grid__item--secondary__text {
  color: #aaaeb1;
}

.card__secondary {
  background-color: #48556a;
}

.card__secondary .testimonial__grid__item--name {
  color: #ecf2f8;
}

.card__secondary .testimonial__grid__item--status {
  color: #cfcfcf;
}

.card__secondary .testimonial__grid__item--primary__text {
  color: #ecf2f8;
}

.card__secondary .testimonial__grid__item--secondary__text {
  color: #aaaeb1;
}

.card__dark {
  background-color: #19212e;
}

.card__dark .testimonial__grid__item--name {
  color: #ecf2f8;
}

.card__dark .testimonial__grid__item--status {
  color: #cfcfcf;
}

.card__dark .testimonial__grid__item--primary__text {
  color: #ecf2f8;
}

.card__dark .testimonial__grid__item--secondary__text {
  color: #aaaeb1;
}

.card__default {
  background-color: white;
}

.card__default .testimonial__grid__item--name {
  color: #19212e;
}

.card__default .testimonial__grid__item--status {
  color: #cfcfcf;
}

.card__default .testimonial__grid__item--primary__text {
  color: #19212e;
}

.card__default .testimonial__grid__item--secondary__text {
  color: #aaaeb1;
}

.testimonial {
  padding: 5rem 0;
}

@media screen and (min-width: 1025px) {
  .testimonial {
    padding: 2rem 0 0;
    margin-bottom: 8px;
  }
}

.testimonial__grid {
  -webkit-perspective: 40px;
          perspective: 40px;
}

@media screen and (min-width: 768px) {
  .testimonial__grid {
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
}

@media screen and (min-width: 1025px) {
  .testimonial__grid {
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
}

.testimonial__grid__item:nth-child(1) {
  background-image: url(../../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 85% 2%;
}

@media screen and (min-width: 768px) {
  .testimonial__grid__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (min-width: 1025px) {
  .testimonial__grid__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (min-width: 768px) {
  .testimonial__grid__item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 1025px) {
  .testimonial__grid__item:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 768px) {
  .testimonial__grid__item:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
  }
}

@media screen and (min-width: 1025px) {
  .testimonial__grid__item:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
}

.testimonial__grid__item .card__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 56px 1fr;
      grid-template-columns: 56px 1fr;
  -ms-grid-rows: (28px)[2];
      grid-template-rows: repeat(2, 28px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  line-height: 1;
}

.testimonial__grid__item--image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  border-radius: 50%;
}

.testimonial__grid__item--name, .testimonial__grid__item--status {
  font-size: 1rem;
}

.testimonial__grid__item--name {
  font-weight: 900;
}

.testimonial__grid__item--status {
  font-weight: 400;
}

.testimonial__grid__item--primary__text {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1.125rem;
}

.testimonial__grid__item--secondary__text {
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */