@import "typography";
@import "colors";
*,
*::before,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: $light-grayish-blue;
  font-family: $default-font;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-size: 0.8125rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
